@using PawnShop.Core.Models
@using System.Security.Claims
@using PawnShop.Data
@inject ApplicationDbContext context
@model List<ProductViewModel>
@{
	ViewBag.Title = "All products";
}

<div class="text-center">
    <h1>All available products:</h1>
</div>
<br />
@if (Model.Count > 0)
{
	<div style="display:inline-flex">
        @foreach (var product in Model)
        {
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Category: @product.Category</p>
                    <p class="card-text">Weight: @product.Weight kg</p>
                </div>
                <div class="text-center">
                    @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == product.OwnerId || User.IsInRole("Administrator"))
                    {
                        <form method="get">
                            <button asp-controller="Product" asp-action="Edit" type="submit" name="id" value="@product.Id" class="btn btn-primary btn-warning">Edit</button>
                            <button asp-controller="Product" asp-action="Delete" type="submit" name="id" value="@product.Id" class="btn btn-primary btn-danger">Delete</button>
                        </form>
                    }
                    else
                    {
                        if (context.ProductBuyers.Find(User.FindFirst(ClaimTypes.NameIdentifier).Value, product.Id) == null)
                        {
                            <form>
                                <button asp-controller="Product" asp-action="Buy" type="submit" name="id" value="@product.Id" class="btn btn-primary btn-success">Buy</button>
                            </form>
                        }
                        else
                        {
                            <p>You have already bought this product.</p>
                        }
                    }
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center">
        <p>No products yet!</p>
    </div>
}
