@using PawnShop.Core.Models
@using PawnShop.Data
@inject ApplicationDbContext context
@model List<ProductViewModel>
@{
	ViewBag.Title = "Bought products";
}

<div class="text-center">
	<h1 class="text-center">Bought products:</h1>
	<br />
	@if (Model.Count > 0)
	{
		<div style="display:inline-flex">
			@foreach (var product in Model)
			{
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">@product.Name</h5>
						<p class="card-text">@product.Description</p>
						<p class="card-text">Weight: @product.Weight kg</p>
						<p class="card-text">Category: @context.Categories.Find(product.CategoryId).Name</p>
					</div>
					<form method="get">
						<button type="submit" asp-controller="Product" asp-action="Sell" name="id" value="@product.Id" class="btn-warning">Sell</button>
					</form>
				</div>
			}
		</div>
	}
	else
	{
		<p>You have not bought any products yet!</p>
	}
</div>
